# Build directories
build/
bin/
lib/

# CMake specific
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Visual Studio / VS Code
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.user
out/

# Executables (Windows/Linux/Mac)
*.exe
*.out
*.app
lab_2_wrapper

# OS specific
.DS_Store
Thumbs.db